

.hearticon {
    width: 39%;
}

.tries {
    height: 5%;
    width: 5%;
}

.container {
    background-color: rgba(216, 214, 214, 0.705);
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid rgba(128, 128, 128, 0.445);
    padding: 2%;
}

.menu {
    border: 1px solid rgba(128, 128, 128, 0.829);
    border-radius: 8px;
    margin-top: 15%;
    padding: 2%;
}

.btnExit {
    float: right;
    margin-right: 10%;
}
body{
    background-color: rgb(148, 146, 146);
}