body {
    background-color: rgb(128, 168, 109);
    background-image: url(/javaScript/exercicios/imagem/iconcoracao.png);
    
}

.container {
    background-color: rgb(228, 227, 227);
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
    height: 85%;
    padding: 1%;
    border: 1px solid rgba(128, 128, 128, 0.452);
    border-radius: 8px;
    text-align: center;
}


.rules {
    background-color: rgb(153, 153, 153);
    height: 30%;
    margin-left: 11.5%;
    width: 22%;
    padding: 1%;
    border: 1px solid rgb(109, 107, 107);
    border-radius: 8px;
    visibility: hidden;
    position: absolute;
}

.showRules {
    cursor: default;
    background-color: rgb(116, 116, 116);
    margin-left: 30%;
    margin-right: 30%;
    height: 4%;
    border: 1px solid rgb(100, 99, 99);
}

.showRules:hover + .rules {
    visibility: visible;
}

.btnStyle {
    margin-top: 1%;
    width: 20%;
}
body{
    background-color: rgb(121, 121, 121);
}